

<%- include('header'); -%>



<h2>this is a todo list created by neelu</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid alias est maxime doloribus impedit excepturi illum, odio repellendus accusantium quae enim iusto dolores asperiores totam fugit eaque? Dolor, quis maiores?</p>



<%- include('footer'); -%>
